body {
    font-family: "Comic Sans MS";
    text-align: center;
    vertical-align: middle;
    background-color: lightgray;
}

.inv_link {
    text-decoration: none;
    color: black;
}

header {
    color: black;
    /* margin: 10px auto; */
}

h1{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

div {
    margin-left: 125px;
    text-align: center;
}

#pics {
    display: flex;
    text-align: left;
    /* width: 400px; */
    /* float: left; */
    margin: 5% 5% 3% 5%;
    justify-content: center;
    flex-wrap:wrap;
}

#menu {
    display: flex;
    text-align: left;
    /* width: 500px; */
    /* float: left; */
    margin: 5% 5% 2% 5%;
    justify-content: center;
    /* flex-wrap:wrap; */
}

/* form label {
    text-align: left;
} */

.container {
    /* display: flex;
    justify-content: space-around; */
    text-align: center;
    margin: 0px 5% 5% 5%;
    padding-top: 20px;
    width: auto;
    height: auto;
    background-color: black;
    color: whitesmoke;
    border-radius: 25px;
    box-shadow: 10px 10px 50px grey;
}

blockquote{
    align-content: center;
    margin: auto;
}