body {
    font-family: "Comic Sans MS";
    vertical-align: center;
}

h1{
    margin-top: 100px;
    text-align: center;
}

div {
    margin-left: 125px;
    text-align: center;
}

form{
    text-align: left;
    vertical-align: center;
    margin-left: 90px;
}

.container {
    align-content: center;
    margin: 100px auto;
    padding-top: 20px;
    width: 900px;
    height: auto;
    background-color: azure;
    border-radius: 25px;
    box-shadow: 10px 10px 50px grey;
}

blockquote{
    align-content: center;
    margin: auto;
}